/* app css stylesheet */

.menu {
  list-style: none;
  margin-bottom: 2em;
  padding: 5px;]
}

.menu > li {
  display: inline;
}

body {
  background: darkblue url("./wallpaper/wc.jpg");
  color: darkblue;
  text-align: center;
}

.buttons {
  margin: auto;
  position: center;
  padding: 5px;
  color: darkblue;
  border-color: lavenderblush;
}

.teamName {
  font-weight: bold;
}
.groupName {
  font-weight: bold;

}
.players {
  font-weight: normal;
}

.groupStage {
  border-style: solid;
}

table, th, td{
  border: 1px solid black;
  padding: 3px;
}

.allGroupsTable td {
  border: 1px solid black;
  padding: 3px;
  width:15%;

}

tr:nth-child(odd) {background-color: skyblue;}
tr:nth-child(even) {background-color: seashell;}

.row {
  margin-left: 0;
  margin-right: 0;
}

.header{
  color: seashell;
  padding: 5px;
  background-color: darkred;
}
