/* app css stylesheet */

.menu {
  list-style: none;
  margin-bottom: 2em;
  padding: 10px;
}

body {
  background: darkblue url("./wallpaper/wc.jpg");
  color: floralwhite;
  text-align: center;
}

.buttons {
  margin: auto;
  position: center;
  padding: 10px;
  border-color: floralwhite ;
  background-color: darkred;
  font-weight: bold;
}

.teamName {
  font-weight: bold;
}

.groupName {
  font-weight: bold;
  border: 1px solid floralwhite;
  padding: 10px;
}

.players {
  font-weight: normal;
}

.groupStage {
  border-style: solid;
}

.header{
  color: floralwhite;
  padding: 10px;
  background-color: darkred;
  border-bottom: 1px solid floralwhite;
  text-shadow: 2px 2px 5px darkblue;
}

.matchup {
  border: 1px solid darkblue;
  padding: 5px;
  background-color: #b3d4fc;
  font-weight: normal;
  color: darkblue;
}

.teams {
  border: 1px solid darkblue;
  padding: 5px;
  background-color: #b3d4fc;
  font-weight: normal;
  color: darkblue;
}

.playersNames{
  color: floralwhite;
}

.allGroups {
  background-color: darkred;
}

.playersFade {
  transition: all linear 0.5s;
}

.playersFade.ng-hide {
  opacity: 0;
}

.teams {
  border: 1px solid darkblue;
  padding: 5px;
  background-color: #b3d4fc;
  font-weight: normal;
  color: darkblue;
}

