/* app css stylesheet */

.menu {
  list-style: none;
  margin-bottom: 2em;
  padding: 5px;]
}

.menu > li {
  display: inline;
}

body {
  background: lightgreen;
  color: darkgreen;
  text-align: center;
}

.buttons {
  margin: auto;
  position: center;
  padding: 5px;
  color: darkgreen;
  border-color: lavenderblush;
}

.teamName {
  font-weight: bold;
}
.groupName {
  font-weight: bold;

}
.players {
  font-weight: normal;
}

.groupStage {
  border-style: solid;
}

table, th, td {
  border: 1px solid black;
  padding: 5px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

tr:nth-child(odd) {background-color: #f2f2f2;}
