<h2 class="header">World Cup 2018 Russia</h2>

<ul class="menu">
    <button class="buttons" ng-click="startGame()">Start </button>

    <button class="buttons" ng-click="stopGame()">Stop </button>

    <button class="buttons" ng-click="clearGame()">Reset</button>

    <button class="buttons" ng-click="alertWinner()" ng-if="arrayOfGroup0[0].teams[0].teamName">Winner</button>

    <button class="buttons">Teams <input class="buttons" type="checkbox" ng-model="togglePlayers"></button>
</ul>

<container></container>

<br/>

<teams ng-show="togglePlayers"" all-teams="teams"></teams>


